_n8n/Email + Calendar.json
{
  "name": "Email + Calendar",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "d52346b7-7a07-4cd7-b2b9-f82959a328b5",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "3d4425a8-7de2-444c-9a31-4d8f9b2baec2",
      "name": "Webhook",
      "webhookId": "d52346b7-7a07-4cd7-b2b9-f82959a328b5"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"ok\": true,\n  \"message\": \"Reserva recibida correctamente\",\n  \"email_sent\": true,\n  \"calendar_event_created\": true\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        896,
        0
      ],
      "id": "72f5c798-8400-46a4-9944-ffb62e654703",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "jsCode": "const body = $json.body ?? $json;\n\nif (body.tipo !== 'reserva_mesa') {\n  throw new Error(`Tipo de solicitud no soportado: ${body.tipo}`);\n}\n\nconst requiredFields = ['nombre', 'telefono', 'fecha', 'hora', 'personas'];\n\nfor (const field of requiredFields) {\n  if (body[field] === undefined || body[field] === null || body[field] === '') {\n    throw new Error(`Campo obligatorio vacío: ${field}`);\n  }\n}\n\nconst nombre = String(body.nombre).trim();\nconst telefono = String(body.telefono).trim();\nconst fecha = String(body.fecha).trim();\nconst hora = String(body.hora).trim();\nconst personas = Number(body.personas);\n\nif (!Number.isInteger(personas) || personas <= 0) {\n  throw new Error('El número de personas debe ser mayor que 0');\n}\n\nconst alguienAlergico = Boolean(body.alguien_alergico);\nconst detalleAlergias = body.detalle_alergias || 'No indicado';\n\n// Para España en mayo es +02:00.\n// Si quieres algo 100% dinámico con zona horaria, también se puede hacer con Luxon.\nconst inicioEvento = `${fecha}T${hora}:00+02:00`;\n\nconst [hour, minute] = hora.split(':').map(Number);\nconst startDate = new Date(`${fecha}T${hora}:00+02:00`);\nconst endDate = new Date(startDate.getTime() + 90 * 60 * 1000);\nconst finEvento = endDate.toISOString();\n\nconst asuntoEmail = `Nueva reserva de mesa - ${nombre} - ${fecha} ${hora}`;\n\nconst cuerpoEmailHtml = `\n<div style=\"font-family: Arial, sans-serif; font-size: 15px; color: #222; line-height: 1.5;\">\n  <h2 style=\"margin: 0 0 16px 0; color: #111;\">\n    Nueva reserva de mesa\n  </h2>\n\n  <p style=\"margin: 0 0 16px 0;\">\n    Se ha recibido una nueva reserva desde la web de <strong>Sabor y Salsa</strong>.\n  </p>\n\n  <table style=\"border-collapse: collapse; width: 100%; max-width: 600px; margin-bottom: 20px;\">\n    <tr>\n      <td style=\"padding: 8px 12px; border: 1px solid #ddd; background: #f7f7f7;\"><strong>Nombre</strong></td>\n      <td style=\"padding: 8px 12px; border: 1px solid #ddd;\">${nombre}</td>\n    </tr>\n    <tr>\n      <td style=\"padding: 8px 12px; border: 1px solid #ddd; background: #f7f7f7;\"><strong>Teléfono</strong></td>\n      <td style=\"padding: 8px 12px; border: 1px solid #ddd;\">${telefono}</td>\n    </tr>\n    <tr>\n      <td style=\"padding: 8px 12px; border: 1px solid #ddd; background: #f7f7f7;\"><strong>Fecha</strong></td>\n      <td style=\"padding: 8px 12px; border: 1px solid #ddd;\">${fecha}</td>\n    </tr>\n    <tr>\n      <td style=\"padding: 8px 12px; border: 1px solid #ddd; background: #f7f7f7;\"><strong>Hora</strong></td>\n      <td style=\"padding: 8px 12px; border: 1px solid #ddd;\">${hora}</td>\n    </tr>\n    <tr>\n      <td style=\"padding: 8px 12px; border: 1px solid #ddd; background: #f7f7f7;\"><strong>Personas</strong></td>\n      <td style=\"padding: 8px 12px; border: 1px solid #ddd;\">${personas}</td>\n    </tr>\n    <tr>\n      <td style=\"padding: 8px 12px; border: 1px solid #ddd; background: #f7f7f7;\"><strong>Alergias</strong></td>\n      <td style=\"padding: 8px 12px; border: 1px solid #ddd;\">${alguienAlergico ? 'Sí' : 'No'}</td>\n    </tr>\n    <tr>\n      <td style=\"padding: 8px 12px; border: 1px solid #ddd; background: #f7f7f7;\"><strong>Detalle alergias</strong></td>\n      <td style=\"padding: 8px 12px; border: 1px solid #ddd;\">${detalleAlergias}</td>\n    </tr>\n  </table>\n\n  <p style=\"margin: 0 0 8px 0;\">\n    <strong>Origen:</strong> ${body.origen || 'No indicado'}\n  </p>\n\n  <p style=\"margin: 0 0 20px 0;\">\n    <strong>Enviado en:</strong> ${body.enviado_en || 'No indicado'}\n  </p>\n\n  <div style=\"padding: 12px 16px; background: #fff7e6; border: 1px solid #ffd591; border-radius: 6px;\">\n    <strong>Siguiente paso:</strong><br>\n    Confirmar disponibilidad y contactar con el cliente si fuera necesario.\n  </div>\n</div>\n`.trim();\n\nconst tituloEvento = `Reserva mesa - ${nombre} - ${personas} pax`;\n\nconst descripcionEvento = `\nReserva recibida desde la web.\n\nNombre: ${nombre}\nTeléfono: ${telefono}\nPersonas: ${personas}\n\nAlergias: ${alguienAlergico ? 'Sí' : 'No'}\nDetalle alergias: ${detalleAlergias}\n\nOrigen: ${body.origen || 'No indicado'}\nEnviado en: ${body.enviado_en || 'No indicado'}\n`.trim();\n\nreturn [\n  {\n    json: {\n      nombre,\n      telefono,\n      fecha,\n      hora,\n      personas,\n      alguien_alergico: alguienAlergico,\n      detalle_alergias: detalleAlergias,\n      inicio_evento: inicioEvento,\n      fin_evento: finEvento,\n      asunto_email: asuntoEmail,\n      cuerpo_email_html: cuerpoEmailHtml,\n      titulo_evento: tituloEvento,\n      descripcion_evento: descripcionEvento,\n      email_restaurante: 'barsaborysalsa@gmail.com'\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        0
      ],
      "id": "f0c9b8d7-88c1-4976-9799-542110b24f41",
      "name": "Preparar reserva"
    },
    {
      "parameters": {
        "sendTo": "={{ $json.email_restaurante }}",
        "subject": "={{ $json.asunto_email }}",
        "message": "={{ $json.cuerpo_email_html }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        448,
        0
      ],
      "id": "a56650da-b8cd-4bb5-b085-b5d84c7431bf",
      "name": "Email reserva",
      "webhookId": "750d4a43-546a-4b59-abf4-72aa85b31bfa",
      "credentials": {
        "gmailOAuth2": {
          "id": "wj1AddJcEmLfPsyX",
          "name": "Sabor y Salsa - Gmail account"
        }
      }
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "barsaborysalsa@gmail.com",
          "mode": "list",
          "cachedResultName": "barsaborysalsa@gmail.com"
        },
        "start": "={{ $('Preparar reserva').first().json.inicio_evento }}",
        "end": "={{ $('Preparar reserva').first().json.fin_evento }}",
        "useDefaultReminders": false,
        "additionalFields": {
          "description": "={{ $('Preparar reserva').first().json.descripcion_evento }}",
          "summary": "={{ $('Preparar reserva').first().json.titulo_evento }}"
        },
        "remindersUi": {
          "remindersValues": [
            {
              "method": "popup",
              "minutes": 30
            },
            {
              "method": "popup",
              "minutes": 120
            },
            {
              "method": "email",
              "minutes": 1440
            }
          ]
        }
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        672,
        0
      ],
      "id": "c0d693b8-3da0-4d44-9f20-9e82e4dfa220",
      "name": "Añadir reserva a calendar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "VFHlyX376v5JFCPp",
          "name": "Sabor y Salsa - Google Calendar account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Preparar reserva",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar reserva": {
      "main": [
        [
          {
            "node": "Email reserva",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email reserva": {
      "main": [
        [
          {
            "node": "Añadir reserva a calendar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Añadir reserva a calendar": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "timeSavedMode": "fixed",
    "timezone": "Europe/Madrid",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "cfe5dc35-138a-4bef-8f52-5ea4d72976de",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "589954e5374140162883a2faead209414bfe6ad0a43162602c9c783730e2e058"
  },
  "id": "A5t5X60AW5hxPGOP",
  "tags": []
}